# =======================
# 🍃 共通（OS / エディタ）
# =======================
.DS_Store
.vscode/
.env

# =======================
# 🐍 Python / Django
# =======================
**/migrations/
!*/migrations/__init__.py
__pycache__/
*.py[cod]

# =======================
# ⚛️ React / Node（frontend）
# =======================
# frontend 配下の除外
frontend/stockmanager-app/node_modules/
frontend/stockmanager-app/build/
frontend/stockmanager-app/.env
frontend/stockmanager-app/.env.*   # 全envをまとめて除外

# その他のnode系キャッシュや生成物
**/node_modules/
**/coverage/
**/build/
**/.pnp/
**/.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
