Django==5.2.1
djangorestframework==3.16.0
django-cors-headers==4.7.0
djangorestframework_simplejwt==5.5.0
PyMySQL==1.1.1
python-dotenv==1.1.0
gunicorn
openai==1.82.0
yfinance==0.2.61
pandas==2.2.3
numpy==2.2.6
